@import url('../../styles/colors.scss');
@import url('../../styles//fonts.scss');

div.hero-section-main-container {
    width: 100%;
    padding: 2vw 0vw;
    padding-left: 5%;
    background-color: var(--header-background-color);

    div.hero-section-main-content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div.hero-section-image {
            width: 44vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            img {
                height: 30vw;
                width: 100%;
            }
        }

        div.hero-section-content {
            font-family: 'Manrope';
            font-style: normal;
            width: 47vw;

            div.hero-section-title {
                font-weight: 700;
                color: var(--hero-section-title-text-color);

                p {
                    font-size: 4vw;
                }
            }

            div.hero-section-subtitle {
                font-weight: 700;
                font-size: 4vw;
                color: var(--hero-section-subtitle-text-color);
            }

            div.hero-section-description {
                font-family: 'PlayfairDisplay';
                font-weight: 600;
                font-size: 1.263vw;
                color: var(--hero-section-description-text-color);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 1vw;

                p.quote {
                    font-size: 2.5vw;
                    transform: rotate(-180deg);
                }

                p.hero-section-description-text {
                    margin: 1vw 0;
                    margin-left: 0.2vw;
                }

                p.quote:nth-of-type(1) {
                    align-self: flex-start;
                    transform: rotate(0deg);
                }
            }

            div.hero-section-counts {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                color: var(--hero-section-description-text-color);
                font-family: 'Manrope';
                margin-top: 2vw;

                >div {
                    margin-right: 4vw;
                }

                p.count {
                    font-weight: 600;
                    font-size: 1.4vw;
                }

                p.title {
                    font-weight: 500;
                    font-size: 1vw;
                }
            }
        }
    }

    div.hero-section-social-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        p {
            font-family: 'Manrope';
            font-weight: 500;
            font-size: 1.2vw;
            color: var(--hero-section-description-text-color);
            margin-right: 1vw;
        }

        img {
            width: auto;
            height: 1.35vw;
            margin-right: 1vw;
        }

        img:hover {
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 480px) {
    div.hero-section-main-container {
        padding: 5vw 0vw;
        padding-left: unset;

        div.hero-section-main-content-container {
            flex-direction: column-reverse;
            align-items: flex-end;
            justify-content: center;

            div.hero-section-image {
                width: 95%;

                img {
                    height: auto;
                }
            }

            div.hero-section-content {
                width: 95%;
                margin-top: 3vw;

                div.hero-section-title {
                    p {
                        font-size: 8vw;
                    }
                }

                div.hero-section-subtitle {
                    font-size: 8vw;
                }

                div.hero-section-description {
                    font-size: 3.5vw;
                    margin-top: 2vw;

                    p.quote {
                        display: none;
                    }
                }


                div.hero-section-counts {
                    margin-top: 4vw;

                    >div {
                        margin-right: 6vw;
                    }

                    p.count {
                        font-size: 6vw;
                    }

                    p.title {
                        font-size: 4vw;
                    }
                }
            }
        }

        div.hero-section-social-links-container {
            display: none;
        }
    }
}