@import url('../../styles/colors.scss');
@import url('../../styles/fonts.scss');


div.faq-section-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);

    >div {
        width: 40%;
        background-color: var(--header-background-color);
        margin-top: 3.5vw;
        font-family: 'Battambang';
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0.5vw;
        padding: 1.5vw 2vw;
        box-shadow: 0 0.1vw 0.3vw var(--card-hover-box-shadow-color);

        p.faq-title {
            font-weight: 400;
            font-size: 1vw;
            color: var(--hero-section-description-text-color);
        }

        div.faq-accordian-container {
            margin-top: 1vw;
            width: 100%;
            font-family: 'Battambang';
            font-weight: 300;
            font-size: 1vw;

            .faq {
                margin-bottom: 1vw;

                .faq-question {
                    position: relative;
                    transition: all 0.4s ease;

                    &::after {
                        content: "+";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 2vw;
                        height: 2vw;
                        transition: all 0.2s ease;
                    }
                }

                .faq-answer {
                    opacity: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.2s ease;
                    font-style: italic;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .faq.open {
                .faq-question {
                    margin-bottom: 0.6vw;

                    &::after {
                        content: "-";
                    }
                }

                .faq-answer {
                    max-height: 10vw;
                    opacity: 1;
                }
            }

            .faq.margin-unset {
                margin-bottom: unset;
            }
        }
    }
}