:root {
    --header-background-color: #FFF8E9;
    --header-border-color: #E6E6E6;
    --white: #fff;
    --header-title-text-color: #2D5356;
    --header-nav-option-text-color: #2D5356;
    --hero-section-title-text-color: #2D5356;
    --hero-section-subtitle-text-color: #E49F0A;
    --text-input-backgournd-color: rgba(228, 159, 10, 0.1);
    --hero-section-description-text-color: #585858;
    --main-background-color: #FCF9F4;
    --product-card-border-color: #F1F1F1;
    --product-card-title-text-color: #646464;
    --card-hover-box-shadow-color: rgba(0, 0, 0, 0.3);
    --footer-background-color: #EBCC89;
    --inactive-breadcrumb-color: #B3B3B3;
    --secondary-border-color: #EEEEEE;
    --product-description-text-color: #7D7D7D;
    --product-details-border-color: #E4E4E4;
    --select-background-color: #ECECEC;
}