@font-face {
    font-family: 'Battambang';
    src: url('../assets/fonts/Battambang-Black.ttf') format('truetype'),
        url('../assets/fonts/Battambang-Bold.ttf') format('truetype'),
        url('../assets/fonts/Battambang-Light.ttf') format('truetype'),
        url('../assets//fonts/Battambang-Regular.ttf') format('truetype'),
        url('../assets/fonts/Battambang-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Battambang';
    src: url('../assets/fonts/Battambang-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Battambang';
    src: url('../assets/fonts/Battambang-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Battambang';
    src: url('../assets/fonts/Battambang-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Battambang';
    src: url('../assets/fonts/Battambang-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Battambang';
    src: url('../assets/fonts/Battambang-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}