@import url('../../styles/colors.scss');
@import url('../../styles/fonts.scss');

div.new-arrivals-section-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);

    p.new-arrivals-title {
        font-family: 'Battambang';
        font-weight: 400;
        font-size: 1.3vw;
        margin-top: 2.5vw;
        color: var(--hero-section-title-text-color);
    }

    div.products-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin-top: 1.5vw;
        // margin-bottom: 2vw;
        flex-wrap: wrap;

        div.product-card {
            div {
                border: 1px solid var(--product-card-border-color);
                width: 29vw;
                border-radius: 1.2vw;
                display: flex;
                background-color: var(--white);
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 2vw 0;
                transition: box-shadow 0.3s ease;
                margin-bottom: 2.2vw;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0.4vw 1vw var(--card-hover-box-shadow-color);
                }
            }

            img {
                width: 50%;
                height: auto;
            }

            p {
                font-family: 'Battambang';
                font-weight: 400;
                font-size: 1.2vw;
                color: var(--product-card-title-text-color);
                padding: 0 2vw;
                text-align: center;
            }
        }
    }

    p.view-all-button {
        font-family: 'Battambang';
        user-select: none;
        font-weight: 400;
        font-size: 1.15vw;
        color: var(--hero-section-subtitle-text-color);
        margin-top: 2vw;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0vw;
            height: 1px;
            background-color: var(--hero-section-subtitle-text-color);
            bottom: 0;
            left: 50%;
            transition: width 0.4s ease, left 0.4s ease;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover::after {
            width: 100%;
            left: 0;
        }

    }
}

@media only screen and (max-width: 480px) {
    div.new-arrivals-section-main-container {
        p.new-arrivals-title {
            font-size: 5vw;
            margin-top: 8vw;
        }

        div.products-card-container {
            margin-top: 5vw;

            div.product-card {
                div {
                    width: 43vw;
                }

                img {
                    width: 80%;
                }

                p {
                    font-size: 3vw;
                }
            }
        }

        p.view-all-button {
            font-size: 4.7vw;
            margin-top: 3vw;
        }
    }
}