@import url('./styles/fonts.scss');
/* Basic reset to remove default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, button, textarea, select {
  font: inherit;
}
